// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2017 Microsemi Corporation */

/dts-v1/;

#include "ocelot.dtsi"

/ {
	compatible = "mscc,ocelot-pcb123", "mscc,ocelot";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0e000000>;
	};
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&spi {
	status = "okay";

	spi-flash@0 {
		label = "spi_flash";
		compatible = "macronix,mx25l25635f", "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
	spi-flash@1 {
		compatible = "spi-nand";
		pinctrl-0 = <&cs1_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <31000000>;
		reg = <1>; /* CS1 */
		nand-use-soft-ecc-engine;
		nand-ecc-algo = "hamming";
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			/* 256MiB */
			partition@0 {
				    label = "rootfs_nand_data";
				    reg = <0x0000000 0x10000000>;
			};
		};
	};
};

&i2c {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	status = "okay";
};

&mdio0 {
	status = "okay";
};

&port0 {
	phy-handle = <&phy0>;
};

&port1 {
	phy-handle = <&phy1>;
};

&port2 {
	phy-handle = <&phy2>;
};

&port3 {
	phy-handle = <&phy3>;
};
